# Java with Ant, Spring (WAR), and EJB
/build/
/dist/
/lib/
/classes/
/*.jar
/*.war
/*.ear

# NetBeans
/nbproject/private/
/nb-build/
/nbbuild/
/nb-configuration.xml

# Logs
*.log
log/
logs/

# Temporary files
*.tmp
*.swp

# OS-specific files
.DS_Store
Thumbs.db
/FiveCafeApi-ejb/build/
/FiveCafeApi-ejb/dist/
/FiveCafeApi-war/dist/
/FiveCafeApi-war/build/
FiveCafeApi-ejb/build/classes/META-INF/META-INF/glassfish-resources.xml
FiveCafeApi-ejb/nbproject/private/private.properties
FiveCafeApi-ejb/src/conf/META-INF/glassfish-resources.xml
